@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    border: 0px;
    padding: 0px;
    background-color: rgb(226, 74, 100);
}

.corpo{  
    margin: auto;
    box-shadow: 0px 0px 15px black;
    height: 95vh;
    border-radius: 15px;
}

.parte-produtos {
    margin: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border: 10px;
}

main h1{
    text-align: center;
    color: white;
}

.divimagem{
    margin: auto;
    background-color: white;
    width: 250px;
    height: 400px;
    border-radius: 15px;
}

.divimagem p {
    text-align: center;
}

.divimagem button{
    display: inline-block;
    text-align: center;
    width: 100px;
    background-color: pink;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin: 300px 70px;
}

button:hover{
    background-color: palevioletred;
    transition: 0,3s;
}