@charset "UTF-8";

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(226, 74, 100);
}

main{
    box-shadow: 0px 0px 10px black;
    height: 95vh;
    border-radius: 15px;
    padding-inline: 4px;
}

main h1{
    text-align: center;
    color: white;
}

.divimagem{
    background-color: white;
    width: 250px;
    height: 300px;
    border-radius: 15px;
}

.divimagem p {
    text-align: center;
}

.divimagem button{
    color: palevioletred;
    border-radius: 8px;
}